.jumbotron {
  background-color: #ffea00;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 10px;
  background-color: #ffea00;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card-banner {
  height: 100%;
  width: 100%; }

.tab-content {
  padding-top: 10px; }

#carouselControls {
  margin-top: 0px;
  margin-bottom: 20px; }

#banner-top {
  margin-top: 10px;
  margin-bottom: 0px; }
