$yellow: #ffea00;
$red: #fc0d05;
$green: #24d900;
$purple: #5e03fc;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    @include margenes(50px, 10px);
}

footer {
    padding: 10px 10px 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.card-banner {
    height: 100%;
    width: 100%;
}

.tab-content {
    padding-top: 10px;
}

#carouselControls {
    @include margenes(0px, 20px);
}

#banner-top {
    @include margenes(10px, 0px)
}